*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-h-elem: "Montserrat", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
  --clr-bg: hsl(0, 0%, 98%);
  --clr-font-violet: hsla(268, 75%, 44%, 1);

  --clr-font-grey: hsla(0, 0%, 0%, 0.6);
  --clr-font-light-violet: hsla(268, 75%, 31%, 0.38);
  --clr-items: hsla(268, 58%, 55%, 1);
  --clr-border: hsla(268, 75%, 44%, 1);
}

html {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-h-elem);
}

h1 {
  color: var(--clr-font-violet);
  font-size: 2rem;
  margin: 0;
}
h2 {
  color: var(--clr-font-grey);
  font-size: 1.25rem;
  margin-top: 0;
}
h3 {
  color: white;
  font-size: 1.75rem;
}

body {
  max-width: 600px;
  background-color: hsl(0, 0%, 90%);
  margin-inline: auto;
}

main {
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
}

section {
  _border: 2px solid blue;
}

div {
  _border: 2px dotted green;
}

article {
  _border: 2px solid darkgoldenrod;
}

section + section {
  margin: 2rem;
}

/*******Heading*********/

header {
  _border: 2px solid red;
}

#heading {
  position: relative;
  height: 10rem;
}

#dark-violet {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}

#light-violet {
  position: absolute;
  top: 1rem;
  z-index: 0;
  width: 100%;
}
.heading-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
#sandwich {
  position: relative;
  display: inline-flex;
  z-index: 2;
}
#site-name {
  position: relative;
  display: inline-flex;
  z-index: 2;
  width: max-content;
}
/****** Title *******/

/******** Search mask **********/

.search-field-container {
  _background-color: blueviolet;
  position: relative;
}

#search-field {
  font-size: 1.25rem;
  border: 0.125rem solid var(--clr-border);
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
  padding-block: 2rem 1.25rem;
  padding-inline: 0.5rem;
}

.placeholder-text {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  left: calc(0.5rem + 2px);
  top: 50%;
  transform: translateY(-50%);
}

#search-field:focus + .placeholder-text {
  color: (255, 255, 255, 0);
}
#search-field:not(:placeholder-shown) + .placeholder-text {
  top: 20%;
  font-size: 0.8rem;
  color: var(--clr-font-grey);
}
#submit {
  position: absolute;
  right: 1rem;
  top: 25%;
  _transform: translateY(-50%);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#search-icon {
  _border: 1px solid red;
  margin-top: 2.5px;
  _width: 30px;
  _margin: 0.8rem;
}

#submit:hover {
  transform: scale(1.2);

  transform-origin: center center;
  cursor: pointer;
}

#submit:active {
  transform: scale(1.1);
}

.class-filter {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: 3.25rem;
}

.class {
  border: 0.125rem solid var(--clr-border);
  border-radius: 0.25rem;
}

#class-selector {
  width: 55%;
}

/******** Search results ***********/

article + article {
  margin-top: 1.5rem;
}

.student-card-container {
  position: relative;
  border: 0.125rem solid var(--clr-border);
}

.student {
  position: relative;
  display: flex;
  gap: 2rem;
  z-index: 2;
  background-color: var(--clr-bg);
}

.student-name {
  font-weight: 600;
}

.student-icon {
  background-color: tan;
  width: 30px;
  height: 30px;
}

.student-card-container-bg {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
}
