*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-h-elem: "Montserrat", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
  --clr-bg: hsl(0, 0%, 98%);
  --clr-font-violet: hsla(268, 75%, 44%, 1);

  --clr-font-grey: hsla(0, 0%, 0%, 0.6);
  --clr-font-light-violet: hsla(268, 75%, 31%, 0.38);
  --clr-items: hsla(268, 58%, 55%, 1);
  --clr-border: hsla(268, 75%, 44%, 1);
}

html {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-h-elem);
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  white-space: nowrap;
}
h2 {
  color: var(--clr-font-violet);
  font-size: 2rem;
  margin: 0;
}
h3 {
  color: var(--clr-font-grey);
  font-size: 1.25rem;
}

body {
  max-width: 50em;
  background-color: hsl(0, 0%, 90%);
  margin-inline: auto;
}

main {
  max-width: inherit;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
}

_section {
  border: 2px solid var(--clr-font-violet);
  border-radius: 0.25rem;
}

div {
  _border: 2px dotted green;
}

article {
  _border: 5px solid darkgoldenrod;
  margin: 2em;
}

section + section {
  margin-top: 2rem;
}

/*******Main Header*********/

.main-header {
  max-width: inherit;
}
.main-header-el {
  position: relative;
  max-width: 100%;
  min-height: 5em;
  z-index: 2;
  margin: 10% 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.main-header-el-bg {
  width: 100%;
}
.dark-violet {
  position: absolute;
  max-width: 50em;
  z-index: 1;
  top: 0;
  margin-bottom: 5em;
}

.light-violet {
  position: absolute;
  max-width: 50em;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}

.sandwich {
  justify-self: center;
}

/******** Search mask **********/

.search-field-container {
  _background-color: blueviolet;
  position: relative;
}

#search-field {
  font-size: 1.25rem;
  border: 0.125rem solid var(--clr-border);
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
  padding-block: 2rem 1.25rem;
  padding-inline: 0.5rem;
}

.placeholder-text {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  left: calc(0.5rem + 2px);
  top: 50%;
  transform: translateY(-50%);
}

#search-field:focus + .placeholder-text {
  color: (255, 255, 255, 0);
}
#search-field:not(:placeholder-shown) + .placeholder-text {
  top: 20%;
  font-size: 0.8rem;
  color: var(--clr-font-grey);
}
#submit {
  position: absolute;
  right: 1rem;
  top: 25%;
  _transform: translateY(-50%);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#search-icon {
  _border: 1px solid red;
  margin-top: 2.5px;
  _width: 30px;
  _margin: 0.8rem;
}

#submit:hover {
  transform: scale(1.2);

  transform-origin: center center;
  cursor: pointer;
}

#submit:active {
  transform: scale(1.1);
}

.class-filter {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: 3.25rem;
}

.class {
  border: 0.125rem solid var(--clr-border);
  border-radius: 0.25rem;
}

#class-selector {
  width: 55%;
}

/******** Search results ***********/

article + article {
  margin-top: 1.5rem;
}

.student-card-container {
  position: relative;
  border: 0.125rem solid var(--clr-border);
  border-radius: 0.25rem;
  width: 100%;
}

.student {
  display: grid;
  grid-template-columns: auto 4fr;
  align-items: center;
  -webkit-box-shadow: 0.25rem 0.25rem 0 0 var(--clr-font-violet);
  box-shadow: 0.35rem 0.3rem 0 0 var(--clr-font-violet);
  padding-block: 1.5rem;
  width: 100%;
  border: 2px solid var(--clr-font-violet);
  border-radius: 0.15rem;
}

.student-pic {
  margin: 0 2rem 0 1rem;
  padding: 1.75rem;
  border-radius: 0.25rem;
  background-color: var(--clr-font-violet);
  background-image: url("data:image/svg+xml,%3Csvg class='student-icon' fill='none' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M7.5 7.5C8.49456 7.5 9.44839 7.10491 10.1517 6.40165C10.8549 5.69839 11.25 4.74456 11.25 3.75C11.25 2.75544 10.8549 1.80161 10.1517 1.09835C9.44839 0.395088 8.49456 0 7.5 0C6.50544 0 5.55161 0.395088 4.84835 1.09835C4.14509 1.80161 3.75 2.75544 3.75 3.75C3.75 4.74456 4.14509 5.69839 4.84835 6.40165C5.55161 7.10491 6.50544 7.5 7.5 7.5ZM10 3.75C10 4.41304 9.73661 5.04893 9.26777 5.51777C8.79893 5.98661 8.16304 6.25 7.5 6.25C6.83696 6.25 6.20107 5.98661 5.73223 5.51777C5.26339 5.04893 5 4.41304 5 3.75C5 3.08696 5.26339 2.45107 5.73223 1.98223C6.20107 1.51339 6.83696 1.25 7.5 1.25C8.16304 1.25 8.79893 1.51339 9.26777 1.98223C9.73661 2.45107 10 3.08696 10 3.75ZM15 13.75C15 15 13.75 15 13.75 15H1.25C1.25 15 0 15 0 13.75C0 12.5 1.25 8.75 7.5 8.75C13.75 8.75 15 12.5 15 13.75ZM13.75 13.745C13.7487 13.4375 13.5575 12.5125 12.71 11.665C11.895 10.85 10.3612 10 7.5 10C4.6375 10 3.105 10.85 2.29 11.665C1.4425 12.5125 1.2525 13.4375 1.25 13.745H13.75Z' fill='%23FBFBFB' /%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: 1rem;
  background-repeat: no-repeat;
  justify-items: start;
}

.student-name {
  font-weight: 600;
  margin: 0;
}

