html {
  box-sizing: border-box;
  height: 100%;
  font-family: monospace;
}

body {
  height: 100%;
}
.strikeThrough {
  text-decoration: line-through;
}

main {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
}

#delBtn {
  margin: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

section {
  display: flex;
  justify-content: space-between;
}
