:root {
  --button-color: rgb(205, 205, 205);
  --font-color: black;
  --emphasize: bold;
  --border-color: grey;
}

h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
  margin-top: 0;
}

html {
  font-family: sans-serif;
}
body {
  margin: 1rem;
  max-width: 500px;
  display: flex;
  border: 2.5px solid grey;
  border-radius: 10px;
}

main {
  margin: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.name {
  display: flex;
  flex-direction: column;
}

.refresh-status {
  font-size: 1rem;
  color: var(--border-color);
}

img {
  justify-self: start;
  max-width: 50px;
  border-radius: 50%;
}

.content {
  padding-top: 1rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1.5px solid grey;
  padding-top: 1.5rem;
  margin-top: 2rem;
}

#read-more {
  font-weight: var(--emphasize);
  margin-left: auto;
}

button {
  border: none;
  background-color: var(--button-color);
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-weight: var(--emphasize);
}
